.hide{
	display: none;
}

.bg{
	margin: 0;
	padding: 0;
}
.mi{
	position: absolute;
	zoom:3.3;
	z-index: 101;
	left: 50%;
	top: 65%;
}
.dia{
	position: absolute;
	z-index: 100;
	zoom:1.6;
	left: -4%;
	top: 25%;
}
.bgi{
	position: relative;
	z-index: 99;
}