
.hide{
	display: none;
}

.bg{
	margin: 0;
	padding: 0;
}
.mi{
	position: absolute;
	zoom:3.3;
	z-index: 102;
	left: 50%;
	top: 65%;
}
.dia{
	position: absolute;
	z-index: 100;
	zoom:1.5;
	left: -2%;
	top: 25%;
}

.text{
	position: absolute;
	z-index: 101;
	width: 550px;
	height: 320px;
	/*border: green 2px solid;*/
	left: 19%;
	top: 31%;
	font-size: 70px;
	font-family: '微软雅黑';
	text-align: center;
}
.bgi{
	position: relative;
	z-index: 99;
}